<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NTUG</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.3/vue-cookies.js"></script>
    <link rel="icon" href="/img/NetApp.ico">
  </head>
  <body>
    <div id="app">
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                <a class="navbar-item" href="http://karelverhelst.be">
                    <img src="/img/NetApp.svg" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" v-on:click="showNav = !showNav" v-bind:class="{ 'is-active' : showNav }">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu" v-bind:class="{ 'is-active' : showNav }">
                    <div class="navbar-start">
                        <a href="/index3.html" class="navbar-item is-active">
                            Home
                        </a>

                        <a href="/admin3.html" class="navbar-item">
                            Admin
                        </a>
                    </div>

                    <div class="navbar-end">
                      <div class="navbar-item">

                      </div>
                        <div class="navbar-item">
                        <div class="buttons">

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <h1 class="title">Students</h2>
                  <table class="table is-bordered is-striped is-fullwidth is-hoverable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Company</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="survey in surveys" v-on:click="currentsurvey=survey" v-bind:class="{ 'is-selected' : survey.name===currentsurvey.name}">
                        <td>{{ survey.name }}</td>
                        <td>{{ survey.company }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div v-if="!!currentsurvey.name" class="column">
                  <div class="panel-block">
                    <h1 class="title">
                        {{ currentsurvey.name }} - {{ currentsurvey.company }}
                    </h1>
                  </div>
                  <div class="panel-block">
                    <p>
                        {{ currentsurvey.expectations }}
                    </p>
                  </div>
                  <div class="panel-block">
                    <table class="table is-bordered is-fullwidth">
                      <thead>
                        <tr>
                          <th>Experience</th>
                          <th>Tech</th>
                          <th v-for="grade in grades">{{ grade.name }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(hyperscaler,hindex) in hyperscalers">
                          <td v-if="hindex===0" v-bind:rowspan="hyperscalers.length">Hyperscalers</td>
                          <td>{{ hyperscaler.friendly}}</td>
                          <td v-for="grade in grades"><i v-if="currentsurvey[hyperscaler.name]===grade.value" class="fas fa-check"></i></td>
                        </tr>
                        <tr v-for="(netapp,oindex) in netapps">
                          <td v-if="oindex===0" v-bind:rowspan="netapps.length">Netapp</td>
                          <td>{{ netapp.friendly}}</td>
                          <td v-for="grade in grades"><i v-if="currentsurvey[netapp.name]===grade.value"  class="fas fa-check"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </section>

    </div>
    <script type="text/javascript" src="/js/app2.js"></script>
  </body>
</html>
